#header{
    height: 80px;
    background-color: purple;
}

h1{
    color:white;
}

ul{
    text-align: right;
    list-style-type: none;
    margin-bottom: 5px;
}

ul li{
    color:white;
    display: inline;

}

img{
    list-style-type: none;
}
