header{
    height: 80px;
    background-color: purple;
}

h1{
    color:white;
    float: left;
    margin-left: 100px;
}

ul{
    padding: 20px;
    text-align: right;
    list-style-type: none;
    word-spacing: 28px;
}

ul li{
    color:white;
    display: inline;
}


